@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
	overflow-y: hidden;
	background: transparent;
	font-family: 'Comfortaa', cursive;
}

html {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

#chess2 {
	margin: 0px auto 0px auto;
}

#board {
	font-size: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 532px;
	height: 532px;
	flex-wrap: wrap;
	padding: 0;
	border: solid 10px #bc4a04;
	display: flex;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	& > div {
		color: black;
	}

	div div {
		font-size: 300%;
		text-align: center;
		z-index: 999;
		cursor: pointer;
	}

	.selectedBox {
		border: 5px solid green;
		cursor: pointer;
	}

	.threatBox {
		border: 5px solid red;
	}

	.currentBox {
		border: 5px dotted green;
	}

	.pieceBox {
		cursor: pointer;
	}

	.begunBox {
		background-color: red;
	}

	.Noir {
		color: black;
	}

	.Blanc {
		color: white;
	}

	.box {
		font-size: 50px;
		text-align: center;
	}

	.chessbox {
		width: 64px;
		height: 64px;
	}
}

.white_box {
	// background-image: url('../images/Projets/white_box.jpg');
	background-color: #5b0907;
	border: 5px solid #5b0907;
}

.black_box {
	// background-image: url('../images/Projets/black_box.jpg');
	background-color: #ecbe8c;
	border: 5px solid #ecbe8c;
}

header {
	height: 10vh;
	margin-bottom: 5px;
	border-bottom: 1px solid white;
}

footer {
	height: 0px;
	padding: 0;
}

#myModal {
	color: black;
}

pre {
	font-size: 1.2em;
	font-family: 'Comfortaa', cursive;
}

#choose {
	div {
		border: 1px solid transparent;
		cursor: pointer;

		&:hover {
			border: 1px solid gray;
		}
	}
}

#lst_coups,
#eaten {
	font-size: 2em;
	height: 70vh;
	overflow-y: scroll;
}

#lst_coups > p {
	width: 100%;
}

#eaten {
	width: 90%;
	word-wrap: break-word;

	overflow-x: no-content;
}

#lst_coups > p:first-child {
	background: #2eaccf;
}

.up_letter {
	position: absolute;
	width: 64px;
	height: 16px;
	text-align: center;
	color: black;
	font-size: 2em;
}

.side_number {
	position: absolute;
	width: 16px;
	height: 64px;
	text-align: center;
	color: black;
	font-size: 2em;
}

@media (max-width: 970px) {
	#eaten,
	#chess2 h3,
	#lst_coups {
		display: none;
	}

	#chess2 {
		width: 100%;
	}

	#board {
		left: 0;
		bottom: 0;
		margin: 0 auto;
	}
}

// General style
body {
	color: #fff;
	font-size: 13px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#main_container {
	position: relative;
	width: 100vw;
	overflow-x: hidden;
	height: 500px;
}

a {
	color: #fff;
	text-decoration: none;
}
.clr {
	clear: both;
}

.content {
	text-align: center;
	position: relative;
	width: 780px;
	margin: 0 auto;
}

header {
	background-color: rgba(255, 255, 255, 0.09);
	margin: 0px;
	padding: 5px;

	& > h1 {
		margin: 0px;
	}
}

.row {
	width: 100%;
}

footer {
	width: 100% !important;
	height: 60px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.09);
	padding: 20px;
}
